<!--begin::Menu wrapper-->
<div class="app-header-menu app-header-mobile-drawer align-items-stretch" data-kt-drawer="true"
     data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}"
     data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="end"
     data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true"
     data-kt-swapper-mode="{default: 'append', lg: 'prepend'}"
     data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
    <!--begin::Menu-->
    <div class="menu menu-rounded menu-column menu-lg-row my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0"
         id="kt_app_header_menu" data-kt-menu="true">

        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start"
             class="menu-item here show menu-here-bg menu-lg-down-accordion me-0 me-lg-2">
            <!--begin::User menu-->
            <div class="app-navbar-item ms-1 ms-md-4" id="kt_header_user_menu_toggle">
                <!--begin::Menu wrapper-->
                <div class="cursor-pointer symbol symbol-90px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
                     data-kt-menu-attach="parent">
                    <img th:src="${@theme.getAssetPath('media/logos/default-dark.svg')}" alt="user"/>
                </div>
                <!--end::Menu wrapper-->
            </div>
            <!--end::User menu-->
        </div>


        <!--begin:Menu item-->
        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start"
             class="menu-item here show menu-here-bg menu-lg-down-accordion me-0 me-lg-2">
            <!--begin:Menu link-->
            <span class="menu-link">
				<span class="menu-title">Ana Sayfa</span>
				<span class="menu-arrow d-lg-none"></span>
			</span>
            <!--end:Menu link-->
            <!--begin:Menu sub-->
            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown p-0 w-100 w-lg-850px">
                <div th:replace="${@theme.getView('partials/sidebar-layout/header/_menu/__dashboards.html')}"></div>
            </div>
            <!--end:Menu sub-->
        </div>

        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start"
             class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
            <!--begin:Menu link-->
            <span class="menu-link">
				<span class="menu-title">Kategoriler</span>
				<span class="menu-arrow d-lg-none"></span>
			</span>
            <!--end:Menu link-->
            <!--begin:Menu sub-->
            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-250px">
                <!--begin:Menu item-->

                <div th:each="category, status: ${categories}" data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start"
                     class="menu-item menu-lg-down-accordion">
                    <!--begin:Menu link-->
                    <span  class="menu-link">
						<span class="menu-icon">[(${@theme.getIcon("laptop", "fs-2")})]</span>
						<span th:text="${category.name}" class="menu-title"></span>
						<span th:if="${status.index==0}" class="menu-arrow"></span>
					</span>
                    <!--end:Menu link-->
                    <!--begin:Menu sub-->
                    <div th:if="${status.index==0}" class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-active-bg px-lg-2 py-lg-4 w-lg-225px">
                        <!--begin:Menu item-->
                        <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start"
                             class="menu-item menu-lg-down-accordion">
                            <!--begin:Menu link-->
                            <span class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Java</span>
								<span class="menu-arrow"></span>
							</span>
                            <!--end:Menu link-->
                            <!--begin:Menu sub-->
                            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-active-bg px-lg-2 py-lg-4 w-lg-225px">
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="?page=apps/ecommerce/catalog/products">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
                                        <span class="menu-title">Spring</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="?page=apps/ecommerce/catalog/categories">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
                                        <span class="menu-title">Hibernate</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="?page=apps/ecommerce/catalog/add-product">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
                                        <span class="menu-title">JSF</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                            </div>
                            <!--end:Menu sub-->
                        </div>
                        <!--end:Menu item-->
                        <!--begin:Menu item-->
                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion menu-sub-indention">
                            <!--begin:Menu link-->
                            <span class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">Python</span>
								<span class="menu-arrow"></span>
							</span>
                            <!--end:Menu link-->
                            <!--begin:Menu sub-->
                            <div class="menu-sub menu-sub-accordion">
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="?page=apps/ecommerce/sales/listing">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
                                        <span class="menu-title">Django</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                            </div>
                            <!--end:Menu sub-->
                        </div>
                        <!--end:Menu item-->
                        <!--begin:Menu item-->
                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion menu-sub-indention">
                            <!--begin:Menu link-->
                            <span class="menu-link">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
								<span class="menu-title">C#</span>
								<span class="menu-arrow"></span>
							</span>
                            <!--end:Menu link-->
                            <!--begin:Menu sub-->
                            <div class="menu-sub menu-sub-accordion">
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="?page=apps/ecommerce/customers/listing">
										<span class="menu-bullet">
											<span class="bullet bullet-dot"></span>
										</span>
                                        <span class="menu-title">.Net</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                            </div>
                            <!--end:Menu sub-->
                        </div>
                        <!--end:Menu item-->

                        <!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link-->
                            <a class="menu-link" href="?page=apps/ecommerce/settings">
								<span class="menu-bullet">
									<span class="bullet bullet-dot"></span>
								</span>
                                <span class="menu-title">Settings</span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu sub-->
                </div>
                <!--end:Menu item-->


            </div>
            <!--end:Menu item-->
        </div>
        <!--end:Menu sub-->
    </div>
    <!--end:Menu item-->
    <!--begin:Menu item-->

    <!--end:Menu item-->
    <!--begin:Menu item-->

    <!--end:Menu item-->
</div>
<!--end::Menu-->

<!--end::Menu wrapper-->